.profile-container {
    height: calc(100vh - 100px);
    color: white;

}


.profile-img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
}

#edit-btn {
    width: 100px;
}